.cart{
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 999;
    background-color: white;
    padding: 20px;
    box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 7px 0px rgba(0,0,0,0.75);

h1{
    margin-bottom: 15px;
    color: gray;
    font-size: 20px;
    font-weight: 400;
}

    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;


        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
        }

        .details{

            h1{
                font-weight: 500;
                font-size: 17px;
            }

            p{
                color: gray;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .price{
                color: #2879fe;
            }

        }
        
        .delete{
            color: rgb(161, 22, 22);
            cursor: pointer;
        }
    }

    .total{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px; 
        margin-bottom: 20px;

   }
   
   button{
    width: 250px;
    padding: 10px;
    background-color: #2879fe;
    display: flex;
    color: #ffff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    gap: 20px;
    border: none;
    margin: 0 auto;
    font-weight: 600;
}

.reset{
    color: rgb(175, 20, 20);
    font: 12px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &:hover{
        color: #ff0000;
    }
}
}